extends layout.pug 

block head
    include addons/opengraph.pug
    if content.opengraph
        +og(content.opengraph)

block body
    .body.bg-cl-6.bd-rd
        .aboutus__header.mb-4
            h2="Tentang PIWIMI"
        .aboutus__description.mb-2
            p.fs-1="Kami membuat menguji, MBTI psikotes dan meme lucu."
        .aboutus__header.mb-4
            h2="Anggota"
        .d-flex.f-c.f-center.ta-c.mb-1
            .aboutus__member.mb-2
                h3.mb-3="🇰🇷 Hyun"
                img.aboutus__profile.bd-circle.bg-cl-3.mb-4(src="https://storage.googleapis.com/pwm-res/web/aboutus/profile_hyun.jpg" style="width:200rem; height:200rem; border-radius:50%")
            .aboutus__member.mb-2
                h3.mb-3="🇮🇩 Febby"
                img.aboutus__profile.bd-circle.bg-cl-3(src="https://storage.googleapis.com/pwm-res/web/aboutus/profile_feb.jpg" style="width:200rem; height:200rem; border-radius:50%")
        .aboutus__header.mb-4
            h2="Kontak"
        .d-flex.f-c.f-center.ta-c.mb-2
            h1.mb-2="📧"
            h3="baloonflower554@gmail.com"
            
    //- script(defer src='/public/js/psychotest.bundle.js')
