extends layout.pug 

block head
    -var ogLink = `https://piwimi.id/`
    -var ogTitle = `psikotes lucu`
    title=`PIWIMI — ${ogTitle}`
    //- Open Graph / Facebook
    meta(property='og:url' content=`${ogLink}`)
    meta(property='og:title' content=`PIWIMI — ${ogTitle}`)
    meta(property='og:description' content=``)
    meta(property='og:image' content=``)
    meta(property='og:image:alt' content=``)
    //- Twitter Open Graph
    meta(property="twitter:url" content=`${ogLink}`)
    meta(property="twitter:title" content=`PIWIMI — ${ogTitle}`)
    meta(property="twitter:description" content=``)
    meta(property="twitter:image" content=``)

mixin sectionHeader(icon, text)
    .home__header--common.mb-3
        h3
            i.fas.d-inline(class=`fa-${icon}`)=`    ${text}`

block body
    include mixins/card.pug
    .body
        //- BEST 심리테스트
        .home__section.mb-3
            +sectionHeader('crown', 'TERBAIK')
            .best__content
                each best in content.best
                    +bigCard(best)
        //- 최신 심리테스트
        .home__section.mb-3
            +sectionHeader('star', 'BARU')
            each psy in content.psys
                +smallCard(psy)
            .card.card-small.card-working.d-flex.bg-cl-1
                a.d-flex.f-c(href=`/about-us`)
                    .cl-6.fs-1.fw-bold.ta-r='We are making hard now...'
                    .cl-6.fs-1.fw-bold.ta-r
                        | Who are we?
    script(src='/public/js/home.bundle.js')