html
head 
    meta(charset="utf-8")
    title="너나심리::우리들의 심리테스트"
    style
        include index.css
body 
    #Background 
        #App
            .header 
                h1.logo="너나심리"
            .body
                .content_header=contentHeader
                block content
            .footer 
                p.contact_partnership="제휴문의:baloonflower554@gmail.com"
                p.contact_github="@Dorage"