html(lang="id")
    head
        meta(name='viewport')
        //- charset
        meta(charset="utf-8")
        //- Favicon
        link(rel="shortcut icon" href="/favicon.ico")
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩                                               ▩
        //- ▩                    ADD-ONS                    ▩
        //- ▩                                               ▩
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩ ADDONS - Global site tag (gtag.js) - Google Analytics
        include addons/googleAnalytics.pug
        +googleAnalytics__GlobalSiteTag__head("UA-201599400-1")
        //- ▩ ADDONS - Google Font
        include addons/googleFonts.pug
        +googleFonts__Init__head()
        //- ▩ ADDONS - Adsense
        include addons/googleAdSense.pug
        +googleAdSense__Init__head('ca-pub-6616061311166935')
        //- ▩ ADDONS - Opengraph
        include addons/opengraph.pug
        +opengraph__Common__head('id_ID')
        +opengraph__Facebook__head('2089044874583060')
        +opengraph__Twitter__head('summary_large_image')
        //- ▩ ADDONS - TagManager
        include addons/googleTagManager.pug
        +googleTagManager__Init__head('GTM-MS3MSF5')
        //- ▩ ADDONS - AddThis
        include addons/addThis.pug
        +addThis__Init__head('ra-610d3227058b910e')
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩                                               ▩
        //- ▩                    BLOCK                      ▩
        //- ▩                                               ▩
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        block head
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩                                               ▩
        //- ▩                   /PUBLIC                     ▩
        //- ▩                                               ▩
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩ 임포트 - 기본 스크립트
        script(src="/public/js/index.bundle.js")
        //- ▩ 임포트 - 폰트어썸
        link(href="/public/fontawesome/css/all.css" rel="stylesheet")
    body
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩                                               ▩
        //- ▩                CUSTOM MIXINS                  ▩
        //- ▩                                               ▩
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- Mixins
        include mixins/navbar.pug
        include mixins/footer.pug
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩                                               ▩
        //- ▩                    ADD-ONS                    ▩
        //- ▩                                               ▩
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩ ADDONS - TagManager
        include addons/googleTagManager.pug
        +googleTagManager__NoScript__body('GTM-MS3MSF5')
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        //- ▩                                               ▩
        //- ▩                  APPLICATION                  ▩
        //- ▩                                               ▩
        //- ▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩▩
        #Background.bg-cl-4.cl-1
            #App.bg-cl-5
                +navbar()
                block body
                +footer()
                #Modal
                template#template-modal-review
                    #Modal
                        .modal__background
                        .modal__section--window
                            .window__review
                                p.review__p--header.f-gap-c="Bagaimana dengan testnya?"
                                //img.review__img--sorry.f-gap-c(src="https://storage.googleapis.com/pwm-res/web/modal/review_sorry.png")
                                .review__section--desc.f-gap-c
                                    p="pendapat anda membuat"
                                    p="piwimi lebih baik!"
                                textarea.review__txt--input.f-gap-c(rows="5" placeholder="tulis review anda disini")
                                button.bt-solid.review__bt--submit.f-gap-c="Lihat Hasil"
                                //-
                                    .d-flex.f-r
                                        .f-1
                                        button.styled_button.review__bt--skip.f-2="saya akan melakukan nanti"
                                        .f-1