html
    head 
        meta(charset="utf-8")
        //- Google Font
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
        //- 기본 스크립트
        script(src="/public/js/index.bundle.js")
        //- 공통 오픈그래프
        meta(property='og:url' content='piwimi.id')
        meta(property='og:type' content='website')
        meta(property='og:locale' content='id_ID')
        //- 페이스북 오픈그래프 앱ID
        meta(property='fb:app_id' content='2089044874583060')
        //- 트위터 오픈그래프
        meta(property='twitter:card' content='summary_large_image')
        //- 오픈파라그래프 및 타이틀 설정
        block head
        //- Global site tag (gtag.js) - Google Analytics
        script(async=true, src="https://www.googletagmanager.com/gtag/js?id=UA-201599400-1")
        script(type="text/javascript").
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-201599400-1');
        //- Adsense
        script(data-ad-client="ca-pub-6616061311166935" async=true src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        //- TagManager
        script().
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MS3MSF5');
    body
        //- TagManager noscript
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-MS3MSF5" height="0" width="0" style="display:none;visibility:hidden")
        #Background
            #App
                .app__nav.flex__row
                    .flex__item--1
                        a(href="/")
                            img(src="/public/img/logo-main.png").nav__img--logo
                    .flex__item--3
                .app__body
                    block body_body
                .app__footer
                    .flex__row
                        .flex__item--4
                            p.contact_github="developed by @Sinsun_Dorage"
                #Modal
                template#template-modal-review
                    #Modal
                        .modal__background
                        .modal__section--window
                            .window__review
                                p.review__p--header.flex__gap--col="Bagaimana dengan testnya?"
                                //img.review__img--sorry.flex__gap--col(src="https://storage.googleapis.com/pwm-res/web/modal/review_sorry.png")
                                .review__section--desc.flex__gap--col
                                    p="pendapat anda membuat"
                                    p="piwimi lebih baik!"
                                textarea.review__txt--input.flex__gap--col(rows="5" placeholder="tulis review anda disini")
                                button.review__bt--submit.flex__gap--col="Submit"
                                .flex__row
                                    .flex__item--1
                                    button.review__bt--skip.flex__item--2="I'll do it later"
                                    .flex__item--1