extends layout.pug 

block head
    -var ogLink = `https://piwimi.id/psy/${common.qId}`
    -var ogTitle = `${content.title}`
    title=`PIWIMI — ${ogTitle}`
    //- Open Graph / Facebook
    meta(property='og:url' content=`${ogLink}`)
    meta(property='og:title' content=`PIWIMI — ${ogTitle}`)
    meta(property='og:description' content=`${content.description}`)
    meta(property='og:image' content=`${content.imgUrl}`)
    meta(property='og:image:alt' content=`${content.description}`)
    //- Twitter Open Graph
    meta(property="twitter:url" content=`${ogLink}`)
    meta(property="twitter:title" content=`PIWIMI — ${ogTitle}`)
    meta(property="twitter:description" content=`${content.description}`)
    meta(property="twitter:image" content=`${content.description}`)
    //- AddThis reimplement Twitter
    script(type="text/javascript").
        var addthis_share = addthis_share || {};
        addthis_share = {
            passthrough : {
                twitter: {
                    via: "piwimi_id",
                    hashtags: "psikotes,mbti"
                }
            }
        };

block body
    // 퀴즈 컨텐츠 템플릿 - 다중선택지
    template#template-question-multiple
        .psycho__section--content
            .content-header=``
            .content-selections
            .content-index
                p=''
    // 다중선택지 셀렉션 템플릿
    template#template-selection
        .selection_box
            .selection_text=''
    // 퀴즈 컨텐츠 템플릿 - Yes Or No
    template#template-question-singular
        .psycho__section--content
            .question__index.f-gap-c
                p='0/1'
            .question__query.f-gap-c
                p='placeholder_Question'
            .question__bt--yes-no.f-r
                .f-1
                button.question__bt--yes.f-1.bt-solid='IYA'
                button.question__bt--no.f-1.bt-solid='TIDAK'
                .f-1
    // 퀴즈 하단 컨트롤 템플릿
    template#template-submit
        .psycho__section--control
            .f-r.f-gap-c
                button.bt-solid.f-1#prev='Sebelumnya'
                .f-1
                button.bt-solid.f-1#next='Selanjutnya'
            .f-r.f-gap-c
                button.bt-solid.f-4#submit='Lihat Hasil'
    // 로딩 템플릿
    template#template-loading
        .psycho__section--content
            .loading_text='memuat pertanyaan'
    // 기본 타이틀
    .psycho__section--content
        .content-thumbnail.f-gap-c
            img.thumbnail__img(src=content.imgUrl)
        .content-header.f-gap-c
            h1=content.title
        .content-description.f-gap-c
            each para in content.description.split('\\n')
                p=para
            p=content.notice
    // 기본 컨트롤
    .psycho__section--control.f-r
        .f-1
        .bt-solid.control__bt--start.f-2.anim-bounce="Mulai"
        .f-1
    script(defer src='/public/js/psychotest.bundle.js')
