extends layout.pug 

block content
    template#template-question
        .content-question
            .content-header=``
            .content-selections
            .content-index
                p=''
    template#template-selection
        .selection_box
            .selection_text=''
    template#template-submit
        .content-submit
            button.bt_submit.deactivated#prev="이전"
            button.bt_submit.deactivated#next="다음"
    .content
        .content-question
        .content-submit
            button.bt_submit.deactivated#prev="이전"
            button.bt_submit.deactivated#next="다음"
    .question(data-questions=`${JSON.stringify(contents)}`)
    script(src="/public/js/psychotest.bundle.js")