extends layout.pug 

block head
    title=`PIWIMI | ${content.header}`
    meta(property='og:title' content=`PIWIMI | ${content.header}`)
    meta(property='og:description' content=`${content.description}`)
    meta(property='og:image' content=`${content.imgUrl}`)
    meta(property='og:image:alt' content=`${content.description}`)

block body_body
    // 퀴즈 컨텐츠 템플릿 - 다중선택지
    template#template-question-multiple
        .psycho__section--content
            .content-header=``
            .content-selections
            .content-index
                p=''
    // 다중선택지 셀렉션 템플릿
    template#template-selection
        .selection_box
            .selection_text=''
    // 퀴즈 컨텐츠 템플릿 - Yes Or No
    template#template-question-singular
        .psycho__section--content
            .question__index.flex__gap--col
                p='placeholder_Index'
            .question__query.flex__gap--col
                p='placeholder_Question'
            .question__bt--yes-no.flex__row
                .flex__item--1
                button.styled_button.question__bt--yes.flex__item--1='IYA'
                button.styled_button.question__bt--no.flex__item--1='TIDAK'
                .flex__item--1
    // 퀴즈 하단 컨트롤 템플릿
    template#template-submit
        .psycho__section--control
            .flex__row.flex__gap--col
                button.styled_button.flex__item--1#prev='Sebelumnya'
                .flex__item--2
                button.styled_button.flex__item--1#next='Selanjutnya'
            .flex__row.flex__gap--col
                button.styled_button.flex__item--4#submit='Lihat Hasil'
    // 로딩 템플릿
    template#template-loading
        .psycho__section--content
            .loading_text='memuat pertanyaan'
    // 기본 타이틀
    .psycho__section--content
        .content-header.flex__gap--col
            h1=content.header
        .content-thumbnail.flex__gap--col
            img.thumbnail__img(src=content.imgUrl)
        .content-description.flex__gap--col
            each para in content.description.split('\n')
                p=para
        .content-notice.flex__gap--col
            p=content.notice
    // 기본 컨트롤
    .psycho__section--control.flex__row
        .flex__item--1
        button.styled_button.control__bt--start.flex__item--2.completed='Mulai'
        .flex__item--1
    script(defer src='/public/js/psychotest.bundle.js')
