extends layout.pug 

block head
    include mixins/opengraph.pug
    if content.opengraph
        +og(content.opengraph)

block body
    include mixins/snsShare.pug
    .body.bg-cl-6.bd-rd
        //- 퀴즈 컨텐츠 템플릿 - 상단
        template#template-question-query 
            .psycho__section--content
                .question__index.f-gap-c.fs-1
                    p='0/1'
                .question__image.mb-4
                    img(src="https://storage.googleapis.com/pwm-res/web/common/image-800_500.jpg")
                .question__query.f-gap-c
                    h2.fw-bold.ta-c='placeholder_Question'
        //- 다중선택지 셀렉션 템플릿 - 다중선택지
        template#template-question-multiple
            .psycho__section--selection.mb-3
                .selection__multiple.d-flex.f-c
        //- 다중선택지 요소 템플릿
        template#template-selection
            .selection_box.bt-solid.f-2.mb-4.pl-3
                .selection_text=''
        //- 이중선택지 셀렉션 템플릿 - Yes Or No
        template#template-question-singular
            .psycho__section--selection.mb-3
                .selection__singular.d-flex.f-r
                    .f-1
                    button.question__bt--yes.f-1.bt-solid='IYA'
                    button.question__bt--no.f-1.bt-solid='TIDAK'
                    .f-1
        //- 퀴즈 하단 컨트롤 템플릿
        template#template-submit
            .psycho__section--control
                .d-flex.f-r.f-gap-c
                    .f-2
                    button.bt-solid.f-1#next='Selanjutnya'
                .d-flex.f-r.f-gap-c
                    button.bt-solid.f-4#submit='Lihat Hasil'
        //- 로딩 템플릿
        template#template-loading
            .psycho__section--content
                .loading_text='memuat pertanyaan'
        //- 문제
        .psycho__section--content.f-gap-c
            .content-thumbnail.f-gap-c
                img.thumbnail__img(src=content.imgUrl)
            .content-header.f-gap-c.ta-c
                h1.h1.fw-bold=content.title
            .content-description.f-gap-c.ta-c.fs-1
                each para in content.description.split('\\n')
                    p=para
                br.mb-4
                p.cl-2.fs-2.mb-4=content.notice
        //- 선택지
        .psycho__section--selection
        //- 컨트롤
        .psycho__section--control.d-flex.f-r.mb-2
            .f-1
            .bt-solid.control__bt--start.f-2.anim-bounce="Mulai"
            .f-1
        .psycho__section--share.d-f.f-c.f-center.w-80
            .fs-1.fw-bold.ta-c.mb-4='Membagikan'
            +snsShare()
    script(defer src='/public/js/psychotest.bundle.js')
