extends layout.pug 

block head
    title="PIWIMI | Indonesian Test"

block body_body
    template#template-question-multiple
        .psycho__question
            .content-header=``
            .content-selections
            .content-index
                p=''
    template#template-question-singular
        .psycho__question
            .question__index
                p=''
            .question__query
            .question__yes-or-no
                button.question__yes-button
                button.question__no-button
    template#template-selection
        .selection_box
            .selection_text=''
    template#template-submit
        .psycho__control
            .psycho__control-row
                button.bt_submit#prev="이전"
                button.bt_submit#next="다음"
            .psycho__control-row
                button.bt_submit#submit="제출완료"
    template#template-loading
        .psycho__question
            .content-loading
                .left
                    .circle
                .center
                    .circle
                    .circle
                    .circle
                .right
                    .circle
            .loading_text="결과를 불러오는중입니다."
    .content
        .content-header=contentHeader
        .psycho__question
            .content-thumbnail
                img.thumbnail__img(src="/public/img/indo1.jpg")
            .content-description=contentDescription
        .psycho__control
            button.bt_start="Mulai"
    //.questions(data-questions=`${JSON.stringify(contents)}`)
    script(src="/public/js/psychotest.bundle.js")
