extends layout.pug 

block head
    include addons/opengraph.pug
    +og(content.opengraph)

block body
    include mixins/snsShare.pug
    -var answer = content.answer 

    .body.bg-cl-6.bd-rd
        .result__header.f-gap-c.mt-2
            if answer.prefix
                .header__placeholder=`${answer.prefix}`
            .header__type
                h1=`${answer.type}`
        .result__body
            img.body__circle__img(src=`${answer.imgUrl}`).f-gap-c
            .body__description.f-gap-c
                each para in answer.description.split('\n')
                    p=`${para}`
        +snsShareWithAsk()
        .result__control.f-gap-c
            .control__row.d-flex
                a.mr-4.f-1.bt-solid(href=`/psy/${common.qId}`)='Ulangi'
                a.f-3.bt-solid(href='/')='Psikotes Lain'
    script(defer src='/public/js/result.bundle.js')
