extends layout.pug 

block head
    include mixins/og.pug
    +og(content.opengraph)

block body
    include mixins/socialMediaShareBlock.pug
    -var answer = content.answer 
    -var resultLink = `https://piwimi.id/psy/${content.qId}/result/${content.aId}`

    .body.bg-cl-6.bd-rd
        .result__header.f-gap-c.mt-2
            if answer.prefix
                .header__placeholder=`${answer.prefix}`
            .header__type
                h1=`${answer.type}`
        .result__body
            img.body__circle__img(src=`${answer.imgUrl}`).f-gap-c
            .body__description.f-gap-c
                each para in answer.description.split('\n')
                    p=`${para}`
        +socialMediaShareBlock()
        .result__control.f-gap-c
            .control__row
                button.bt-solid.control__button-retry='Ulangi'
    script(defer src='/public/js/result.bundle.js')
