extends layout.pug 

block head
    title="너나심리::브레이브걸스 테스트"

block body_body
    .result__header
        .header__placeholder="Kamu dari"
        .header__type=`${content.island}`
    .result__body
        img(src="https://blog.kakaocdn.net/dn/bgjkAo/btq05oN26hy/veFKaVhPV2gozOCajDwd8K/img.png").body__img
        .description=`${content.description}`
    .result__share
        .share__block
        .share__title="share"
    .result__control
        .control__row
            button.control__button-save-img="Save as Image"
            button.control__button-retry="Lagi"
    script(src="/public/js/result.bundle.js")