extends layout.pug 

block head
    title=`PIWIMI | ${content.share.placeholder} ${content.type}`
    meta(property='og:title' content=`${content.share.placeholder} ${content.type}`)
    meta(property='og:description' content=`${content.description}`)
    meta(property='og:image' content=`${content.share.igPost}`)
    meta(property='og:image:alt' content=`${content.type} | ${content.description}`)

block body_body
    - var resultLink = `https://piwimi.id/psy/${content.qId}/result/${content.aId}`
    .result__header
        .header__placeholder=content.placeholder
        .header__type=content.type
    .result__body
        img.body__circle__img(src=content.imgUrl)
        .body__description
            each para in content.description.split('\n')
                p=para
    .result__share
        .share__block
            //- copy a link
            .share__copy-link#cpy-link
                img.share__icon
                .share__name='copy a link'
                input.share__input#cpy-link-input(value=`${resultLink}`)
            //- save post imgs
            .share__copy-link#sv_ig-post(data-links=`${content.share.igPost}`)
                img.share__icon
                .share__name='Instagram Post'
        .share__title='download'
    .result__share
        .share__block
            //- copy a link
            .share__copy-link#cpy-link
                img.share__icon
                .share__name='copy a link'
                input.share__input#cpy-link-input(value=`${resultLink}`)
            //- save post imgs
            .share__copy-link#sv_ig-post(data-links=`${content.share.igPost}`)
                img.share__icon
                .share__name='Instagram Post'
            //- save story imgs
            .share__copy-link#sv_ig-story(data-links=`${content.share.igStory}`)
                img.share__icon
                .share__name='Instagram Story'
            //- share on Facebook
            -var fbAppID = 2089044874583060;
            a(href=`https://www.facebook.com/dialog/share?app_id=${fbAppID}&display=popup&href=${resultLink}&redirect_uri=${resultLink}`)
                .share__copy-link#share_fb
                    img.share__icon
                    .share__name='Facebook'
            //- share on Twitter
            -var twtText = encodeURI(`${content.share.placeholder} ${content.type}!`)
            -var twtHashtag = encodeURI(`${content.type},PIWIMI`)
            a(href=`https://twitter.com/intent/tweet?text=${twtText}&hashtags=${twtHashtag}&url=${resultLink}`)
                .share__copy-link#sv_ig-story
                    img.share__icon
                    .share__name='Twitter'
        .share__title='share'
    .result__control
        .control__row
            button.control__button-save-img='coba test lainnya'
            button.control__button-retry='Ulangi'
    script(src='/public/js/result.bundle.js')
