mixin bigCard(psy)
    a.card.card-big(href=`/psy/${psy.psyId}`)
        .d-flex.f-c.h-100
            .card__thumbnail.f-2(style=`background-image:url(${psy.imgUrl});`)
            .card__body.f-1
                p.fs-2.cl-1='psikotes'
                h3.mb-4=`${psy.title}`
                .division
                i.fas.fa-play-circle.fs-2=` ${psy.view}`

mixin smallCard(psy)
    a.card.card-small.mb-4(href=`/psy/${psy.psyId}`)
        .d-flex
            .card__thumbnail.f-1(style=`background-image:url(${psy.imgUrl});`)
            .card__body.f-2
                h5.mb-4=`${psy.title}`
                i.fas.fa-play-circle.fs-2.bd-t-5.pt-4.pl-4=` ${psy.view}`